<header>
    <nav>
        <div class="characterHeading">
                <h1>Which South Park Character Are You?</h1>
        </div>
        <a href='http://emotionalsouthpark.herokuapp.com/api/'>Try Again</a>
    </nav>
 </header>

