<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Which South Park Character Are You?</title>
</head>

<body class="homepage">
    <h1>Which South Park </h1>
    <h1>Character Are You?</h1>

    <div class="container">
        <form id="myform" name="myform" action="http://emotionalsouthpark.herokuapp.com/api/person" method="get">
            <label for="GET-name" class="name">@</label>
            <input name="handle" id="GET-name handle" type="text" placeholder="enter your Twitter handle" name="name">
            <input id="reset" type="reset" value="Reset">
            <input type="submit" value="Submit" > 
             <!-- onclick="getPersonalityInsight()"  emotionalsouthpark.herokuapp.com/ -->
            
        </form>
    </div>
</body>

</html>