<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Which South Park Character Are You?</title>
</head>

<body class="homepage">
    <h1>Which South Park </h1>
    <h1>Character Are You?</h1>

    <div class="container">
        <form id="myform" name="myform" action="http://emotionalsouthpark.herokuapp.com/api/person">
            <label for="GET-name" class="name">@</label>
            <input name="handle" id="GET-name handle" type="text" placeholder="enter Twitter handle" name="name">
            <input id="reset" type="reset" value="Reset">
            <input type="submit" value="Submit" > 
             <!-- "  http://localhost:9090/api/person"http://emotionalsouthpark.herokuapp.com/api/person" -->
            
        </form>
    </div>

    <div class="iframeContainer">
            <iframe width="0" height="0" align="right"
                src='https://www.youtube.com/embed/zsHULx15v08?autoplay=1'>
            </iframe>
        </div>
    <!-- <audio controls autoplay>
        <source src="./southparktheme.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio> -->
</body>

</html>