<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Which South Park Character Are You?</title>
</head>

<body class="homepage">
    <h1>Which South Park </h1>
    <h1>Character Are You?</h1>

    <div class="container">
        <form action="http://localhost:9090/api/RomyLucy" method="get">
            <label for="GET-name" class="name">@</label>
            <input id="GET-name" type="text" placeholder="enter your Twitter handle" name="name">
            <input id="reset" type="reset" value="Reset">
            <input id="GET-name" type="submit" value="Send" > 
            <!-- onclick="getPersonalityInsight()" -->
        </form>
    </div>
</body>

</html>