* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: aliceblue;
    
}

.iframeContainer {
    text-align: center;
}

.characterName {
    text-align: center;
    color: aliceblue;
}

.Wendy {
    background-image: url('../images/Wendy-happy.png');
    background-size: cover;
    height: 100vh;
    width: 100%; 
}

.Cartman {
    background-image: url('../images/cartman.png');
    background-size: cover;
    height: 1000px;
    width: 100%; 
}

.Chef {
    background-image: url('../images/chef.png');
    background-size: cover;
    height: 100vh;
    width: 100%; 
}

.Kenny {
    background-image: url('../images/kenny.png');
    background-size: cover;
    height: 1000px;
    width: 100%; 
}

.Kyle {
    background-image: url('../images/kyle.png');
    background-size: cover;
    height: 1000px;
    width: 100%; 
}

.MrGarrison {
    background-color: #B469AB;
    background-image: url('../images/mrgarrison.png');
    background-size: cover;
    height: 100vh;
    width: 100%; 
}

.MrHankey {
    background-image: url('../images/mrHankey.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%; 
}