* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'southpark' ;
    src: url('./southpark.ttf') format('truetype');
 }

body {
    font-family: 'southpark';
}

.homepage {
    background-image: url('../images/southpark.jpg');
    background-size: cover;
}

.characterHeading {
    padding-top: 20px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    min-height: 30px;
}

nav {
    text-align: center;
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 0, 212);
}

a:active {
    color: rgb(92, 0, 76);
}

.iframeContainer {
    text-align: center;
}

.characterName {
    text-align: center;
    color: aliceblue;
}

.Wendy {
    background-image: url('../images/wendy.png');
    background-size: cover;
    height: 1000px;
    width: 100%; 
    color: white;
}

.Cartman {
    background-image: url('../images/cartman.png');
    background-size: cover;
    height: 1000px;
    width: 100%; 
    color: white;
    
}

.Chef {
    background-image: url('../images/chef.png');
    background-size: cover;
    height: 1000px;
    width: 100%; 
    color: white;
}

.Kenny {
    background-image: url('../images/kenny.png');
    background-size: cover;
    height: 1000px;
    width: 100%; 
    color: white;
}

.Kyle {
    background-image: url('../images/kyle.png');
    background-size: cover;
    height: 1000px;
    width: 100%; 
    color: white;
}

.MrGarrison {
    background-color: #B469AB;
    background-image: url('../images/mrgarrison.png');
    background-size: cover;
    height: 1000px;
    width: 100%; 
    color: white;
    
}

.MrHankey {
    background-image: url('../images/mrHankey.png');
    background-size: cover;
    height: 1000px;
    width: 100%; 
    color: white;
}

.OMGYOUKILLEDKENNY {
    background-image: url('../images/dead_kenny.gif');
    background-size: cover;
    height: 1000px;
    width: 100%; 
    color: white;
}

form {
    text-align: center;
}

.container{
    text-align: center;
}
